{% extends "base.html" %}

{% block content %}

<div id="header">
    <h1>OLGA Remote Scanner</h1>
</div>

<div id="options">
    <h2>Scan Parameters</h2>
    <form method="post" action="{% url scan_scan %}">{% csrf_token %}
    <table>
    {{ form.as_table }}
    <tr><td></td><td><input type="submit" value="Scan paper NOW!" /><input type="submit" value="Copy" /></td>
    </table>
    </form>

    <hr />

{% if scan_failed %}

<h2>Errors</h2>
<p class="prefix">The scan has failed with the following messages:</p>
<p>{{ scan_error }}</p>

{% endif %}

{% if scan_ok %}

    <h2>Scanned Image</h2>
    <dl>
    <dt>Download</dt>
    <dd><a href="{{SCANNED_URL}}{{ scan_path }}">JPEG Format</a> ({{ scan_size }}B)</dd>
    <dd><a href="{{SCANNED_URL}}{{ scan_pdf }}">PDF Format</a></dd>
    <dt><input type="button" value="Print this page." /></dt>
    </dl>
{% endif %}
</div>

<div id="result">
    {% if scan_ok %}<a href="{{SCANNED_URL}}{{ scan_path }}"><img src="{{ SCANNED_URL}}{{ scan_thumb }}" width="430" height="594" /></a>{% endif %}
</div>

<div id="footer">
   <p></p>
</div>


{% endblock %}
